@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width: 100%;
  background-color:  #fffdfa;
  font-family: 'Inter';
  color: #c5c6ce;
  font-weight: 400;
  font-size: 15px;
  padding: 30px 16px 40px;
}
